@media only screen and (min-width: 300px) and (max-width: 767px){
    .font{
        display: block;
        text-align: center;
        font-size: 15px;
        padding-left: 100px;
        padding-right: 100px;
    }
    .padding-top {
        padding-top: 80px;
    }
    .padding-bottom {
        padding-bottom: 10px;
    }

    .bg-main {
        background-image: url(../img/backgrounds/bg-main.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size:150%;
        height: 240px;
    }

    .bg-decimo {
        transition: opacity 500ms 0ms ease-in-out;
        background-size:100% 100%;
        background-repeat: no-repeat;
        background-image: linear-gradient(to top, transparent -50%, #000000 100%), url(../img/backgrounds/13-salario.jpg);
    }
    
    .bg-fgts {
        background-size:100% 100%;
        background-repeat: no-repeat;
        background-image: linear-gradient(to top, transparent -50%, #000000 100%), url(../img/backgrounds/fgts.jpg);
    }

    .bg-ferias {
        background-size:100% 100%;
        background-repeat: no-repeat;
        background-image: linear-gradient(to top, transparent -50%, #000000 100%), url(../img/backgrounds/ferias.jpg);
    }

    .bg-hora {
        background-size:100% 100%;
        background-repeat: no-repeat;
        background-image: linear-gradient(to top, transparent -50%, #000000 100%), url(../img/backgrounds/horaextra.webp);
    }
    .bg-footer{
        background-image: url(../img/backgrounds/perfil-advogado-2.jpg);
        background-repeat: no-repeat;
        background-attachment:fixed;
        background-size: 100%;
        background-position: 100% 100%;
        height: 400px;
    }
    .bg-footer h2{
        font-size: 20px;
    }
    .bg-footer h4{
        font-size: 15px;
    }
    .bg-footer h3{
        font-size: 15px;
    }
    .mobile {
        width: 20px;
    }
    .font-mobile h3{
        font-size: 14px;
    }
}


@media only screen and (min-width: 768px) and (max-width: 1023px){
    .font{
        display: block;
        text-align: center;
        font-size: 25px;
        padding-left: 100px;
        padding-right: 100px;
    }
    .padding-top {
        padding-top: 130px;
    }

    .bg-main {
        background-image: url(../img/backgrounds/bg-main.jpg);
        background-repeat: no-repeat;
        background-attachment:fixed;
        background-size:100%;
        height: 300px;
    }
    .bg-decimo {
        opacity: 0.9;
        transition: opacity 500ms 0ms ease-in-out;
        background-size:100% 100%;
        background-repeat: no-repeat;
        background-image: linear-gradient(to left, transparent 0%, #000000 100%), url(../img/backgrounds/13-salario.jpg);
    }
    .bg-decimo:hover { opacity: 1 }
    
    .bg-fgts {
        opacity: 0.9;
        transition: opacity 500ms 0ms ease-in-out;
        background-size:100% 100%;
        background-repeat: no-repeat;
        background-image: linear-gradient(to left, transparent 0%, #000000 100%), url(../img/backgrounds/fgts.jpg);
    }
    .bg-fgts:hover { opacity: 1 }


    .bg-ferias {
        opacity: 0.9;
        transition: opacity 500ms 0ms ease-in-out;
        background-size:100% 100%;
        background-repeat: no-repeat;
        background-image: linear-gradient(to right, transparent 0%, #000000 100%), url(../img/backgrounds/ferias.jpg);
    }
    .bg-ferias:hover { opacity: 1 }


    .bg-hora {
        opacity: 0.9;
        transition: opacity 500ms 0ms ease-in-out;
        background-size:100% 100%;
        background-repeat: no-repeat;
        background-image: linear-gradient(to left, transparent 0%, #000000 100%), url(../img/backgrounds/horaextra.webp);
    }
    .bg-hora:hover { opacity: 1 }

    .bg-footer{
        background-image: url(../img/backgrounds/perfil-advogado.jpg);
        background-repeat: no-repeat;
        background-attachment:fixed;
        background-size:130% 100%;
        height: 700px;
    }
}



@media only screen and (min-width: 1024px) and (max-width: 1719px){
    .bg-nav {
        opacity: 0.8;
        transition: opacity 500ms 0ms ease-in-out;
    }
    .bg-nav:hover { opacity: 10 }

    /* 1 section */
    .font{
        display: block;
        text-align: center;
        font-size: 34px;
        padding-left: 250px;
        padding-right: 250px;
    }
    .padding-top {
        padding-top: 140px;
    }

    .bg-main {
        background-image: linear-gradient(to bottom, transparent 0%, #000000 100%), url(../img/backgrounds/bg-main.jpg);
        background-repeat: no-repeat;
        background-attachment:fixed;
        background-size:100%;
        height: 400px;
    }

    /* 2 section*/

    .bg-profile {
        
    }

    /* 3 section*/
    .bg-decimo {
        opacity: 0.9;
        transition: opacity 500ms 0ms ease-in-out;
        background-size:100% 100%;
        background-repeat: no-repeat;
        background-image: linear-gradient(to left, transparent 0%, #000000 100%), url(../img/backgrounds/13-salario.jpg);
    }
    .bg-decimo:hover { opacity: 1 }
    
    .bg-fgts {
        opacity: 0.9;
        transition: opacity 500ms 0ms ease-in-out;
        background-size:100% 100%;
        background-repeat: no-repeat;
        background-image: linear-gradient(to left, transparent 0%, #000000 100%), url(../img/backgrounds/fgts.jpg);
    }
    .bg-fgts:hover { opacity: 1 }


    .bg-ferias {
        opacity: 0.9;
        transition: opacity 500ms 0ms ease-in-out;
        background-size:100% 100%;
        background-repeat: no-repeat;
        background-image: linear-gradient(to right, transparent 0%, #000000 100%), url(../img/backgrounds/ferias.jpg);
    }
    .bg-ferias:hover { opacity: 1 }


    .bg-hora {
        opacity: 0.9;
        transition: opacity 500ms 0ms ease-in-out;
        background-size:100% 100%;
        background-repeat: no-repeat;
        background-image: linear-gradient(to left, transparent 0%, #000000 100%), url(../img/backgrounds/horaextra.webp);
    }
    .bg-hora:hover { opacity: 1 }

    .bg-footer{
        background-image: url(../img/backgrounds/perfil-advogado.jpg);
        background-repeat: no-repeat;
        background-attachment:fixed;
        background-size:100% 100%;
        height: 700px;
    }

}






@media (min-width: 1720px) { 
    .bg-nav {
        opacity: 0.8;
        transition: opacity 500ms 0ms ease-in-out;
    }
    .bg-nav:hover { opacity: 1 }

    /* 1 section */
    .font{
        display: block;
        text-align: center;
        font-size: 34px;
        padding-left: 250px;
        padding-right: 250px;
    }
    .padding-top {
        padding-top: 340px;
    }

    .bg-main {
        background-image: linear-gradient(to bottom, transparent 0%, #000000 100%), url(../img/backgrounds/bg-main.jpg);
        background-repeat: no-repeat;
        background-attachment:fixed;
        background-size:100%;
        height: 600px;
    }

    /* 2 section*/

    .bg-profile {
        margin-bottom: 40px;
        
    }

    /* 3 section*/
    .bg-direitos-tela-grande {
        padding-right: 150px;
        padding-left: 150px;
    }

    .bg-decimo {
        opacity: 0.8;
        transition: opacity 500ms 0ms ease-in-out;
        background-size:100% 100%;
        background-repeat: no-repeat;
        background-image: linear-gradient(to left, transparent 50%, #6c757d 100%), url(../img/backgrounds/13-salario.jpg);
    }
    .bg-decimo:hover { opacity: 1 }
    
    .bg-fgts {
        opacity: 0.8;
        transition: opacity 500ms 0ms ease-in-out;
        background-size:100% 100%;
        background-repeat: no-repeat;
        background-image: linear-gradient(to right, transparent 50%, #6c757d 200%), url(../img/backgrounds/fgts.jpg);
    }
    .bg-fgts:hover { opacity: 1 }


    .bg-ferias {
        opacity: 0.8;
        transition: opacity 500ms 0ms ease-in-out;
        background-size:100% 100%;
        background-repeat: no-repeat;
        background-image: linear-gradient(to left, transparent 50%, #6c757d 200%), url(../img/backgrounds/ferias.jpg);
    }
    .bg-ferias:hover { opacity: 1 }


    .bg-hora {
        opacity: 0.8;
        transition: opacity 500ms 0ms ease-in-out;
        background-size:100% 100%;
        background-repeat: no-repeat;
        background-image: linear-gradient(to right, transparent 50%, #6c757d 100%), url(../img/backgrounds/horaextra.webp);
    }
    .bg-hora:hover { opacity: 1 }

    .p-tela-grande {
        padding-bottom: 50px;
    }

    .bg-footer{
        background-image: linear-gradient(to top, transparent 0%, #6c757d 100%), url(../img/backgrounds/perfil-advogado.jpg);
        background-repeat: no-repeat;
        background-attachment:fixed;
        background-size:100% 100%;
        height: 900px;
    }

    h2 {
        font-size: 45px;
    }
    h4 {
        font-size: 35px;
    }
    h3 {
        font-size: 35px;
    }
    li {
        font-size: 25px;
    }

}



.zoom:hover {
    transform: scale(1.5);
    transition: transform 0.3s ease; 
}

