@media only screen and (min-width: 300px) and (max-width: 767px){
    .font{
        display: block;
        text-align: center;
        font-size: 15px;
        padding-left: 100px;
        padding-right: 100px;
    }
    .padding-top {
        padding-top: 80px;
    }
    .padding-bottom {
        padding-bottom: 10px;
    }

    .bg-main {
        background-image: url(../img/backgrounds/bg-main.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size:150%;
        height: 240px;
    }

    .bg-decimo {
        transition: opacity 500ms 0ms ease-in-out;
        background-size:100% 100%;
        background-repeat: no-repeat;
        background-image: linear-gradient(to top, transparent -50%, #000000 100%), url(../img/backgrounds/13-salario.jpg);
    }
    
    .bg-fgts {
        background-size:100% 100%;
        background-repeat: no-repeat;
        background-image: linear-gradient(to top, transparent -50%, #000000 100%), url(../img/backgrounds/fgts.jpg);
    }

    .bg-ferias {
        background-size:100% 100%;
        background-repeat: no-repeat;
        background-image: linear-gradient(to top, transparent -50%, #000000 100%), url(../img/backgrounds/ferias.jpg);
    }

    .bg-hora {
        background-size:100% 100%;
        background-repeat: no-repeat;
        background-image: linear-gradient(to top, transparent -50%, #000000 100%), url(../img/backgrounds/horaextra.webp);
    }
}


@media only screen and (min-width: 768px) and (max-width: 1023px){
    .font{
        display: block;
        text-align: center;
        font-size: 25px;
        padding-left: 100px;
        padding-right: 100px;
    }
    .padding-top {
        padding-top: 130px;
    }

    .bg-main {
        background-image: url(../img/backgrounds/bg-main.jpg);
        background-repeat: no-repeat;
        background-attachment:fixed;
        background-size:100%;
        height: 300px;
    }
}



@media only screen and (min-width: 1024px) and (max-width: 1380px){
    .font{
        display: block;
        text-align: center;
        font-size: 34px;
        padding-left: 250px;
        padding-right: 250px;
    }
    .padding-top {
        padding-top: 140px;
    }

    .bg-main {
        background-image: linear-gradient(to bottom, transparent 0%, #000000 100%), url(../img/backgrounds/bg-main.jpg);
        background-repeat: no-repeat;
        background-attachment:fixed;
        background-size:100%;
        height: 400px;
    }

    .bg-decimo {
        opacity: 0.5;
        transition: opacity 500ms 0ms ease-in-out;
        background-size:100% 100%;
        background-repeat: no-repeat;
        background-image: linear-gradient(to left, transparent -50%, #000000 100%), url(../img/backgrounds/13-salario.jpg);
    }
    .bg-decimo:hover { opacity: 10 }
    
    .bg-fgts {
        background-size:100% 100%;
        background-repeat: no-repeat;
        background-image: linear-gradient(to left, transparent -50%, #000000 100%), url(../img/backgrounds/fgts.jpg);
    }

    .bg-ferias {
        background-size:100% 100%;
        background-repeat: no-repeat;
        background-image: linear-gradient(to left, transparent -50%, #000000 100%), url(../img/backgrounds/ferias.jpg);
    }

    .bg-hora {
        background-size:100% 100%;
        background-repeat: no-repeat;
        background-image: linear-gradient(to left, transparent -50%, #000000 100%), url(../img/backgrounds/horaextra.webp);
    }
}
@media (min-width: 1381px) { 

}



.zoom:hover {
    transform: scale(1.5);
    transition: transform 0.3s ease; 
}

